
.DS_Store
Scrollo.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Scrollo.xcodeproj/project.xcworkspace/xcuserdata/erwinmarysiok.xcuserdatad/UserInterfaceState.xcuserstate
Scrollo.xcodeproj/xcuserdata/erwinmarysiok.xcuserdatad/xcschemes/xcschememanagement.plist
